@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif;
}

body{
    font-size: 12pt;
    margin: 0;
    background: black;
    color: white;
    text-align:center;
}
#scores {
    width: 100%;
    display: flex;
}

#main{
    max-width: 75vh;
    margin: auto;
}

#score{
    font-size: 1em;
    padding: 30px;
    color: white;
    text-align: left;
    width: 30%;
}

#highScore{
    font-size: 1em;
    padding: 30px;
    color: white;
    text-align: left;
    width: 50%;
}

#canvas{
    display: inline;
    text-align:center;
    margin: 10px;
}

#volume {
    float: right;
    background-image: url('assets/sound_on.png');
    background-repeat: no-repeat;
    background-size: 48px 48px;
    width: 20%;
    height: 48px;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  margin-right: 30px;
}

button:hover,
button:focus {
  background-color: #d43572;
}

#buttonz {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#level {
    font-size: 1em;
    padding: 30px;
    color: white;
    text-align: left;
    width: 30%;
}
#canvas, #scores, #volume, #restart, #lives, #path {
    display: none;
}
#game_start {
    margin: 100px 100px 50px 150px;
}
#lives{
    text-align: left;   
    width: 40%; 
}
#play, #restart {
    width: 20%;
}

#lives img{
    width: 2em;
    padding: 10px;
}
